@import "../../../styles/settings.scss";

.root {
  margin-bottom: 40px;
  margin-top: 30px;

  .box {
    border-bottom: 2px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;

    .image {
      position: relative;
      height: 150px;
      width: 200px;

      img {
        position: absolute;
        height: 60%;
        width: 80%;
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .root .box {
    padding: 10px 0 10px 0;
  }
}
