@import "../../../styles/settings.scss";

.swipeable{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .swipButton{
    margin: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(0,0,0,0.0);
    border: none;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
    }
  }
}

.children {
  cursor: pointer;
}
