@import "../../../styles/settings.scss";

.root {
    
    .heading {
        border: 1px solid lightgray;

        .revSection {
            
            a {
                text-transform: uppercase;
                color: black;
                font-weight: 500;
                list-style-type: none;
                text-decoration: none;
            }

            li {
                padding: 10px 30px;
                border-bottom: 1px solid lightgray;
                border-right: 1px solid lightgray;
            }

            ul {
                text-align: center;
                list-style-type: none;
                display: flex;
                padding: 0;
            }

            .active {
                border-bottom: none;
                color: $orange;

                a {
                    color: $orange;
                }
              }
        }

        .revContent {
            padding: 10px 40px;

            span {
                opacity: 0.9
            }

            .addBtn {
                display: flex;
                margin-top: 15px;
                text-decoration: none;
                color: black;
                font-weight: 600;
            }

            .rating {
                padding-top: 20px;
            }

            .rattingStar {
                display: inline;
                padding: 0 15px;
                
                .stars {
                    display: inline-flex;
                    margin: 0 1px;
                    color: $gold;
                }
            }
        }

        form {
            padding: 20px 0;

            textarea {
                display: flex;
                width: 100%;
            }

            input {
                margin: 10px 10px 10px 0;
                width: 40%;
            }

            .continueBtn {
                display: inline-flex;
                text-transform: uppercase;
                background-color: black;
                width: 18%;
                padding: 5px 55px;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}