@import "../../../styles/settings.scss";

.banner {
  text-align: center;
  padding: 35px 0;
  background-color: #252525;
  color: $select-hover-text-color;

  .bannerOne {
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 0;

    span {
      font-weight: 700;
    };
  };

  .bannerTwo {
    padding: 0 10px;
    font-size: 24px;
    margin-right: -17px;
    letter-spacing: 17px;
    font-weight: 300;
    margin-bottom: 0;

    span {
      font-weight: 500;
      color: $primary;
    }
  }
};

.navigation {
  width: 100%;
  background-color: #ddd;
  height: 40px;
  margin-bottom: 20px;

  .navigationWrapper {
    width: 30%;
    padding: 0 15px;

    a,
    span {
      padding: 0 5px;
    }

    a {
      text-decoration: none;
      color: #2a2a2a;

      &:hover {
        color: $primary;
      }
    }

    a:last-child {
      color: $primary;
      font-weight: 500;
    }
  }

  span {
    line-height: 40px;
  }
}

;
