@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .bigImage {
    display:flex;
    width: 400px;
    height: 400px;
    background-color: gray;
  }

  .gallery {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width:85%;

    .smallImage {
      margin: 0 5px;
      width: 80px;
      height: 80px;
      background-color: gray;
    }
  }

  .arrow {
    margin: 0;
    height: 30px;
    width: 30px;
    font-size: 18px;
    inline-size: 0,5;

    &:hover {
      background-color: $primary;
      border-color: $primary;
    }
  }

  .title {
    display: flex;
    flex-direction: row;

    h3 {
      margin-right: 27%;
      font-weight: bold;
      font-size: 25px;
    }
  }

  .empty {
    color: grey;

    &:hover {
      color: $primary;
    }
  }


  .star {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    border-bottom: solid 1px gray;

    p {
      margin: 0;
      padding: 0 20px;
      font-size: 13px;
    }

    .review {
      padding: 0 20px;
      border-left: solid 1px gray;
      text-decoration: none;
    }
  }

  .price {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    border-bottom: solid 1px gray;

    .oldPrice {
      text-decoration: line-through;
      margin: 0;
      padding: 3px 20px 3px 3px;
      color: gray;
      font-size: 25px;
    }

    .promoPrice {
      padding: 3px;
      margin: 0;
      background-color: $header-topbar-bg;
      color: white;
      font-weight: bolder;
      font-size: 25px;
    }
  }

  .buttons {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px gray;

    .addToCart {
      padding: 10px 5px;
      margin: 5px;
      background-color: $primary;
      border-color: $primary;
      color: white;
      text-decoration: none;

      &:hover {
        filter: brightness(0.95);
      }
    }

    .actionButton {
      margin: 5px;

      &:hover {
        background-color: white;
        border-color: $primary;
        color: $primary;
      }
    }

    .quantity{
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      p {
        font-size: 15px;
        margin: 5px;
        padding: 5px 0;
      }

      input {
        margin: 5px 5px 5px 15px;
        font-size: 15px;
        height: 33px;
        width: 80px;
        text-align: center;
      }
    }
  }

  .overview{
    padding: 15px 0;
    border-bottom: solid 1px gray;

    h4 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 15px;
      color: grey;
    }
  }

  .data {
    padding: 15px 0;
    border-bottom: solid 1px gray;

    p {
      font-size: 15px;
      padding: 10px 0;
      margin: 0;
      font-weight: bold;
    }

    .info {
      color: grey;
      font-weight: normal;
    }
  }

  .social {
    padding: 40px 0;

    .link, .fb {
      margin: 10px 5px 10px 0;
      border: solid 1px gray;
      padding: 10px;
      color: gray;
      width: 16%;

      .iconF, .iconG, .iconT, .iconP, .iconL {
        margin-right: 5px;
        font-size: 15px;
      }

      .iconG {
        color: rgb(247, 41, 41);
      }

      .iconT {
        color: rgb(60, 60, 255);
      }

      .iconP {
        color: rgb(150, 8, 8);
      }

      .iconL {
        color: rgb(65, 136, 230);
      }
    }

    .fb {
      border-color: rgb(50, 80, 180);
      background-color: rgb(50, 80, 180);
      color: white;
    }
  }
}
