@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: #ffffff;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
          @extend %hoverEffect;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

/* Media */

@media(max-width:450px) {

  .topMenu ul li {
    margin-left: 0;

    a {
      font-size: 0;
    }

    .icon {
      font-size: 13px;
    }
}


.topOptions ul li {
  display: inline;
  .icon {
    margin-left: 1px;
  }
}

.topOptions {
  padding: 0 0 0 10px;
  flex-grow:2;
}


.topMenu {
  padding: 0 10px 0 0;
}

.root {
  .topMenu{
    ul {
      li {
        margin-left: 20px;
      }
    }
  }
}
}
