@import "../../../styles/settings.scss";

.root {
  width: 210px;
  margin-left: 20px;
  position: fixed;
  top: 65%;
  z-index: 5;

  .chatInactive {
    visibility: hidden;
  }

  .chatActive {
    visibility: visible;
  }

  .button {
    width: 85%;
    background-color: $primary;
    border: none;
    border-radius: 14px;
  }

  .button:hover {
    background-color: lighten($primary, 10%);
    @extend %hoverEffect;
  }

  a:hover {
    text-decoration: none;
  }

  .box {
    border: 1px solid;
    border-bottom: none;

    .background {
      width: 100%;
      height: 170px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      background-color: white;

      .icon {
        margin-bottom: 13px;
        margin-left: 5px;
      }
    }

    .response {
      height: 30px;
      width: 140px;
      border-radius: 14px;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 11px;
      }
    }
  }

  .chat {
    form {
      display: flex;
    }

    .iconCont {
      width: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border: 1px solid;
      cursor: pointer;
      border-left: none;
    }

    .iconCont:hover {
      background-color: $primary;
      @extend %hoverEffect;
    }

    textarea {
      width: 80%;
      resize: none;
      font-size: 11px;
      border: 1px solid;
    }
  }
}
