@import "../../../styles/settings.scss";

.root {
    margin-top: 30px;
}

.header {
    position: relative;

    .dots {
        position: absolute;
        right: 30px;
        top: 0;
        
        ul {
            margin: 0;
            padding: 0 0 0 1rem;
            list-style: none;
            transform: translateY(10px);
    
          li {
            display: inline-block;
            margin-left: 0.5rem;
            
            a {
                display: inline-block;
                width: 13px;
                height: 13px;
                border-radius: 6px;
                background-color: #e1e1e1;
                font-size: 0;
                margin: 2px;
                
                &.active,
                &:hover {
                    background-color: orange;
                    @extend %hoverEffect;
                }
            }
        }
    }
}
}

.leftCol {
    position: relative;
    height: 560px;
    border: 1px solid lightgray;

    &::after {
        content: "";
        position: absolute;
        bottom: 70px;
        left: 50%;
        width: 45px;
        border-bottom: 4px solid #d58e32;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 70px;
        left: 35px;
        width: 80%;
        border-bottom: 4px solid #e2e2e2;
    }
    
    .leftTitle {
        background-color: $darkerGray;
        
        h1 {
            color: #e2e2e2;
            font-size: 18px;
            margin: 0;
            padding-left: 15px;
            line-height: 40px;
            width: 50%;
        }
    }
    
    .leftPhoto {

        img {
            object-fit: cover;
            width: 100%;
            height: 27vh;
        }

        .addCart {
            position: absolute;
            text-align: center;
            top: 120px;
            left: 50%;
            transform: translate(-50%, -200%);
            width: 100%;
            padding: 1px;
            visibility: hidden;
        }

        .endPromo {
            position: absolute;
            text-align: center;
            transform: translate(0%, -100%);
            width: 100%;
            visibility: hidden;

            li {
                background-color: $gray;
                display: inline-block;
                margin: 10px;
                padding: 5px;
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }

            h1 {
                color: white;
                font-size: 15px;
            }
            
            span {
                font-weight: 700;
                font-size: 23px;
            }
        }

        &:hover {
            
            .addCart, .endPromo {
                visibility: visible;
            }
        }
    }

    .outline {
        position: absolute;
        top: 92%;
        left: 15px;
        
        .faIcon {
            margin-right: 2px;
            margin-left: 2px;
        }
    }
    
    .promotion {
        position: absolute;
        top: 92%;
        left: 63%;
        display: inline-flex;

        span {
            margin-top: 6px;
            font-size: 15px;
            text-align: center;
            text-decoration: line-through;
        }

        .promotionBtn {
            position: relative;
            margin-left: 5px;
            font-size: 20px;
            width: 70px;
            text-align: center;
            color: white;
            background-color: black;
            text-decoration: none;
        }
    }

    .name {
        font-size: 20px;
        text-align: center;
    }

    .stars {
        position: absolute;
        top: 80%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        a {
            padding: 3px;
            font-size: 20px;
        }
    }

    .sliderOne {
        position: absolute;
        top: 0;
        border: none;

        .swipeOne {

        }

        a {
            padding-left: 2px;
            padding-right: 2px;
            color: white;
            top: 1px;
            left: 35%;
        }

        :hover {
            color:#d58e32;
            background: none;
        }
    }
}

.rightCol {
    background-position: center;

    .rightImg {
        width: 100%;
        height: 530px;
    }
    
    .rightTitle {
        color: white;
        position: absolute;
        width: 96%;
        text-align: center;
        padding: 40px 40px;
        background-color: gray;
        opacity: 0.8;
        top: 50%;  
        left: 50%;  
        transform: translate(-50%, -50%);

        h1 {
            color: white;
            font-size: 50px;
            font-weight: 200;
        }

        span {
            font-weight: 600;
        }

        p {
            color: white;
        }
    }
    
    .shopNow {
        text-decoration: none;
        position: absolute;
        text-align: center;
        top: 65%;
        left: 50%;
        width: 25%;
        transform: translate(-50%, -50%);
        color: black;
        font-weight: 500;
        background-color: #ffffff;
        padding: 20px;
    }

    .slider {
        background-color: black;

        a {
            color: white;
            width: 50%;
        }

        a:hover{
            margin: 0;
            background-color:#d58e32;
        }
        }
    }

@media (max-width: 767px) {
    .leftCol {
        display: none;
    }
    
    .rightCol {
        width: 100%;
        float: none;

        .shopNow {
            font-size: 15px;
            text-decoration: none;
            position: absolute;
            text-align: center;
            top: 70%;
            left: 50%;
            width: 25%;
            transform: translate(-50%, -50%);
            color: black;
            font-weight: 400;
            background-color: #ffffff;
            padding: 10px;
        }
    }
}

@media (max-width: 1200px) {

    .rightCol {
        width: 100%;
        float: none;

        .shopNow {
            font-size: 15px;
            text-decoration: none;
            position: absolute;
            text-align: center;
            top: 70%;
            left: 50%;
            width: 25%;
            transform: translate(-50%, -50%);
            color: black;
            font-weight: 400;
            background-color: #ffffff;
            padding: 10px;
        }
    }
}

@media (max-width: 280px) {

    .rightCol {
        width: 100%;
        float: none;

        .rightTitle {

            h1 {
                font-size: 35px;
            }
        }

        .shopNow {
            font-size: 15px;
            text-decoration: none;
            position: absolute;
            text-align: center;
            top: 75%;
            left: 50%;
            width: 25%;
            transform: translate(-50%, -50%);
            color: black;
            font-weight: 400;
            background-color: #ffffff;
            padding: 10px;
        }
    }
}