$lightGray: #434343;
$gray: #363636;
$darkGray: #2a2a2a;
$orange: #d58e32;
$darkerGray: #292929;
$gold: #D58E32;
$goldLight: #d8ae77;
$darkGold: #d47f10;
$white: #ffffff;
$lightGray2: #e2e2e2;
$green: #87c037;
// ABOVE VARIABLES DON'T USE

$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;

$select-hover-text-color: #ffffff;

%hoverEffect {
  transition: 250ms;
}

/* LOGIN */
$main-login-color: $gold;
$main-login-light: $goldLight;
$main-login-dark: $darkGold;

/* GALLERY */
$gallery-background: $white;
$gallery-border: $lightGray2;
$gallery-text-main: $darkGray;
$gallery-button: $green;



