@import "../../../styles/settings.scss";

.root {
  margin-bottom: 2rem;

  &:hover .content h4 {
    color: $primary;
    @extend %hoverEffect;
  }

  &:hover .action .btn {
    background-color: $primary;
    @extend %hoverEffect;
  }

  .photo {
    position: relative;
    padding: 10px 0 10px;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .innerPhoto {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-45%, 160%);
      background: white;
      padding: 20px 0;
      width: 310px;
    }
  }

  .content {
    text-align: left;
    padding: 30px;

    h4 {
      color: $text-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .description {
      margin-bottom: 10px;
    }
  }
  
  .action {
    text-align: center;

    .btn {
      padding: 15px 40px;
      font-weight: 500;
    }
  }
}

@media (max-width: 435px) {
  .root {
    .photo {
      .innerPhoto {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 45%;
        background: white;
        padding: 20px 0;
        width: 310px;
        font-size: 9px;
      }
    }
  }
}