@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;


    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 2;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 2;
    }

    .visibleList {
      -webkit-appearance: none;
      background-color: transparent;
      padding: 0px 0px 0px 10px;
      position: absolute;
      z-index: 1;
      font-size: 14px;
      font-weight: 500;
      outline: none;
      list-style: none;
    }

    .hiddenList {
      display: none;
      list-style: disc;
    }
  }
  // add hover on .category div element
  .category:hover{
<<<<<<< HEAD
    background-color: $header-topbar-bg;
    @extend %hoverEffect;

    .visibleList {
      color: $select-hover-text-color;
      background-color: $header-topbar-bg;
      width: 251px;
      padding: 0 0 10px 41px;
      margin-left: -41px;
      z-index: 1;
      border-radius: 20%;
      @extend %hoverEffect;

      .hiddenList {
        display: block;
        color: $select-hover-text-color;
        z-index: 1;
        padding-top: 5px;
        @extend %hoverEffect;
      }
=======
    background-color: $text-color;
    @extend %hoverEffect;
    select{
      color: $select-hover-text-color;
      @extend %hoverEffect;
>>>>>>> 0fdf0a5d169275b30e468b28f3632df5f20bbc60
    }

    svg{
      color:$select-hover-text-color;
<<<<<<< HEAD
      z-index: 1;
=======
      @extend %hoverEffect;
>>>>>>> 0fdf0a5d169275b30e468b28f3632df5f20bbc60
    }
  }

  .hiddenCategory{
    display: none;
    list-style: disc;
    padding-right: 20px;
  }

  .visibleCategory:hover .hiddenCategory{
    display: block;
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
