@import '../../../styles/settings.scss';

.root {
  background-color: $footer-bg;
  bottom: 0;
  max-height: 250px;
  position: sticky;
  z-index: 1;

  .image {
    position: relative;
    height: 180px;
    width: 200px;
    overflow: hidden;
    align-items: flex-end;

    &:hover {
      @extend %hoverEffect;
      .icon {
        display: block;
        &:hover {
          color: red;
          @extend %hoverEffect;
        }
      }
    }
    img {
      width: 80%;
      height: 70%;
      object-fit: contain;
    }
    h6 {
      color: $primary;
      margin-top: 25px;
    }
  }



  .icon {
    position: absolute;
    height: 25px;
    width: 25px;
    display: none;
    color: $primary;
    margin-left: 150px;
    cursor: pointer;
  }

  .content {
    margin-top: 10px;
    padding-bottom: 10px;
    color: $primary;
    .price {
      margin-left: 18px;
    }
  }

  .btn {
    text-decoration: none;
    background-color: $primary;
    margin-top: 95px;

    &:hover {
      background-color: $primary;
      @extend %hoverEffect;
    }
  }
}