@import "../../../styles/settings.scss";

.root {
    padding: $base-padding 0;

    h4 {
        font-size: 15px;
        margin: 5px;
    }
    
    ul {
        padding: 0;
        margin: 0;
    }
    
    li {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .icon {
        margin-right: 0.5rem;
    }
    
    .productCount {
        margin-left: auto;
        font-weight: 400;
        font-size: 15px;
        border-radius: 50%;
        background-color: black;
        width: 25px;
        text-align: center;
    }
    
    span {
        color: white;
    }
    
    .active span {
        color: white;
        background-color: $orange;
    }
    
    .active {
        color: $orange;
        padding: 0 0 0 15px;
    }
}
